Repository 3R4-TBNKZ/3R4-OS, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, playbook, appx, components, config, services, tweaks, desktop folder

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

# Playbook

playbook:
- src/**/*

appx:
- src/Configuration/3R4/appx.yml

components:
- src/Configuration/3R4/components.yml
- src/Configuration/3R4/packages.yml

config:
- src/Configuration/3R4/config.yml

services:
- src/Configuration/3R4/services.yml

tweaks:
- src/Configuration/tweaks.yml
- src/Configuration/tweaks/**/*

desktop folder:
- src/Executables/3R4Desktop/**/*

Update
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/apbx.yaml
  README.md
Labels: readme, actions

Update apbx.yaml
  .github/workflows/apbx.yaml
Labels: actions

Update
  .github/ISSUE_TEMPLATE/config.yml
  src/playbook/Configuration/3R4/start.yml
  src/playbook/Configuration/tweaks/scripts/script-file-associations.yml
  src/playbook/Executables/FILEASSOC.cmd
  src/playbook/Executables/SOFTWARE.ps1
  src/playbook/Executables/TASKBARPINS.ps1
  src/sxsc/sxsc GitHub page (echnobas).url
Labels: playbook

Update
  src/playbook/Configuration/tweaks/misc/config-oem-information.yml
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
  src/playbook/Executables/3R4Desktop/3R4 Discord.url
  src/playbook/Executables/3R4Desktop/3R4 Discussions.url
  src/playbook/Executables/3R4Desktop/3R4 Documentation.url
  src/playbook/Executables/3R4Desktop/3R4 GitHub.url
  src/playbook/Executables/3R4Desktop/3R4 Website.url
  src/playbook/Executables/3R4Desktop/Atlas Discord.url
  src/playbook/Executables/3R4Desktop/Atlas Discussions.url
  src/playbook/Executables/3R4Desktop/Atlas Documentation.url
  src/playbook/Executables/3R4Desktop/Atlas GitHub.url
  src/playbook/Executables/3R4Modules/Scripts/RunAsTI.cmd
  src/playbook/Executables/3R4Modules/Scripts/ScriptWrappers/InstallSoftware.ps1
  src/playbook/Executables/3R4Modules/Scripts/edgeCheck.cmd
  src/playbook/Executables/3R4Modules/Scripts/indexConf.cmd
  src/playbook/Executables/3R4Modules/Scripts/packageInstall.ps1
  src/playbook/Executables/3R4Modules/Scripts/setSvc.cmd
  src/playbook/Executables/3R4Modules/Scripts/settingsPages.cmd
  src/playbook/Executables/3R4Modules/Scripts/toggleDev.cmd
  src/playbook/Executables/3R4Modules/Scripts/wingetCheck.cmd
  src/playbook/Executables/3R4Modules/VERIFICATION-README.md
Labels: playbook

Update
  .github/workflows/apbx.yaml
Labels: actions

Update YML
  src/playbook/Configuration/tweaks/qol/taskbar/config-pins.yml
Labels: playbook

Update playbook.conf
  src/playbook/playbook.conf
Labels: playbook

Update playbook.conf
  src/playbook/playbook.conf
Labels: playbook

Update playbook.conf
  src/playbook/playbook.conf
Labels: playbook
